@tailwind base;
@tailwind components;
@tailwind utilities;
@import './reset';

@layer base {
  html {
    @apply font-body;
    font-size: 16px;
    color: #161519;
    background-color: #fff;
    height: 100%;
    overflow-x: hidden;
    text-rendering: optimizeLegibility;
  }
}

@layer utilities {
  .title {
    @apply text-5xl font-extrabold;
    font-family: var(--font-dm);
  }
}
